# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.settings
.buildpath
.project
composer.lock
gulpfile.js
phpunit.xml
readme.md
phpspec.yml
artisan
.gitattributes
.env.example